<h2> About Ask a Local </h2>
<hr>

<p> Ask a Local helps you find answers about your city, whether you are a local yourself or just visiting. Searching for the best coffeeshop to work from? Are you a locavore and need a restaurant reccomendation? Do you need to find a dry cleaner and tailor? Ask a Local! </p>
