<h2 class="intro-title">Dashboard</h2>
<div class="admin-intro">
  {{new-question saveQuestion="saveQuestion"}}
  <h3>OR<br>Update Questions</h3>
</div>
<br>
<div class="admin-tiles">
  {{#each model as |question|}}
    {{admin-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</div>
